@charset "utf-8";

.responsive-img {

  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center !important;
}

.text-caja-inicio {
  text-align: left !important;
  font-size:0.9em;
}

.foto_izquierda {
  float: left;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.foto_derecha {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}
.foto_centro {
	display:block;
	margin:auto;
}

.foto_izq_fuera {
  float: left;
  margin-top: -20px;
  margin-right: 10px;
  margin-bottom: 6px;
  margin-left: -40px;
}
.foto_der_fuera {
  float: right;
  margin-top: -20px;
  margin-right: -40px;
  margin-bottom: 6px;
  margin-left: 10px;
}

.marco {
  padding: 5px;
  border: solid 1px #cccccc;
}
#ref {
  padding: 0px;
  float: right;
  height: 22px;
  width: 103px;
  margin-top: 6px;
  margin-right: 0px;
  margin-bottom: -6px;
  margin-left: 0px;
}
#ref a:link, #ref a:visited {
  background-image: url(../img/img_gen/referencias.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 22px;
  width: 103px;
}
#ref a:hover {
margin-top: 2px;
}

/*omar*/

.sombra {
	-webkit-box-shadow: 10px 10px 10px -10px #7A7A7A;
	box-shadow: 10px 10px 10px -10px #7A7A7A;
	border: 1px solid #CCC;
	padding: 6px;
	background-color: #FFF;
}
.rotar_derecha
{
	-ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);
}

.rotar_izquierda
{
	-ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
}

.alert-success h3, .alert-danger h3, .alert-warning h3, .alert-info h3 {
  color: inherit;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger{border-left-color:#ce4844}
.bs-callout-danger h4{color:#ce4844}
.bs-callout-warning{border-left-color:#aa6708}
.bs-callout-warning h4{color:#aa6708}
.bs-callout-info{border-left-color:#1b809e}
.bs-callout-info h4{color:#1b809e}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 1.5em;
}
.label-unidad {
  background-color: #5d727d;
}
.label-unidad[href]:hover,
.label-unidad[href]:focus {
  background-color: #76878f;
}
.badge {
  background-color: #51a5b4;
}
.shadow {
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
}
.verticalLine {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 20px;
}

.verticalLineTwo {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #999;
}
.caja {
	margin:14px;
	padding: 20px;
	background-color: #FFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	border-top: 6px solid #549f0b;

}
.caja2 {
	margin:16px;
	padding: 26px;
	background-color: #f2edcc;
	color:#625d3b;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	border-top: 6px solid #549f0b;

}
.caja_inicio {
	margin: 4px;
	padding: 12px;
	background-color: #FFF;
	min-height: 154px;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	border-top: 4px solid #549f0b;
	text-align: center;

}
.numero_tiempo {
	font-family: 'Roboto', sans-serif;
	font-size: 2.1em;
	font-weight: normal;
	color: #060;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #990;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}

.tit_destacado {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	font-weight: normal;
	color: #060;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #990;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}

.text_destacado {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: #003366;
	text-align: left;
	font-style: normal;
	line-height: 1.1em;
	padding:6px;
}
.text_destacado2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	color: #003366;
	text-align: left;
	font-style: normal;
	line-height: 1.1em;
	padding:6px;
}
.back_inicio {
	min-height:420px;
	margin-left:-15px;
	margin-right:-15px;
	padding-left:15px;
	padding-right:15px;
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/back_inicio.jpg);
	background-repeat: repeat-x;
	background-position: center 10px;
}
.back_azulino {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/back_azulino.jpg);
	background-repeat: repeat-x;
	background-position: center 10px;
}

.back_01 {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/back_01.jpg);
	background-repeat: repeat-x;
	background-position: center 60px;
}

.back_resumen {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/back_resumen.jpg);
	background-repeat: repeat-x;
	background-position: center 20px;
}

.back_02 {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/back_azul.jpg);
	background-repeat: repeat-x;
	background-position: center;
}

.back_03 {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/back_trabajo.jpg);
	background-repeat: repeat-x;
	background-position: center;
}

.back_04 {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/un2_back_empleo.jpg);
	background-repeat: repeat-x;
	background-position: center;
}
.back_05 {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/un2_back_empleo2.jpg);
	background-repeat: repeat-x;
	background-position: center;
}
.back_06 {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/un2_back_empleo3.jpg);
	background-repeat: repeat-x;
	background-position: center;
}

.back_07 {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/un2_back_empleo4.jpg);
	background-repeat: repeat-x;
	background-position: center;
}

.back_08 {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/un2_back_empleo5.jpg);
	background-repeat: repeat-x;
	background-position: center 20px;
}




.back_pregunta {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/un3_02.jpg);
	background-repeat: repeat-x;
	background-position: center 10px;
}
  








.back_columna {
	text-align: center;
	background-image: url(../img/img_un/columnas.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 250px;

}

.clip {
	float:right;
	margin-top:-41px;
	margin-left:10px;
	z-index:100;
}

/* Lección */

.linea {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.flecha_der_fuera {
	float: right;
	margin-top: 20px;
	margin-right: -40px;
	margin-left: 10px;
	margin-bottom: -50px;
}
.texto_sobre_foto {
	font-size: 26px;
	font-weight: bold;
	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.2em
}

/* Lección */

#rotargear {
		-webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
#rotargear2 {
		-webkit-animation: rotation2 5s infinite linear;
}

@-webkit-keyframes rotation2 {
		from {
				-webkit-transform: rotate(359deg);
		}
		to {
				-webkit-transform: rotate(0deg);
		}
}
.circulo {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #70aec0;
	border: 2px solid #518594;
	font-weight: bold;
}
.sabias {
	background-color: #f5f5f5;
	background-image: url(../img/img_gen/sombra.png);
	background-repeat: repeat-y;
	background-position: left top;
	min-height: 520px;
	padding-left: 36px;
	padding-top: 36px;
	font-style: italic;
	font-weight: normal;
	color: #52690d;
	font-size: 1.1em;

}
.back_degradado_FAO {
	background: rgb(164,179,87);
	background: -moz-linear-gradient(top, rgb(164,179,87) 0%, rgb(6,103,50) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(164,179,87)), color-stop(100%, rgb(6,103,50)));
	background: -webkit-linear-gradient(top, rgb(164,179,87) 0%, rgb(6,103,50) 100%);
	background: -o-linear-gradient(top, rgb(164,179,87) 0%, rgb(6,103,50) 100%);
	background: -ms-linear-gradient(top, rgb(164,179,87) 0%, rgb(6,103,50) 100%);
	background: linear-gradient(to bottom, rgb(164,179,87) 0%, rgb(6,103,50) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#066732', GradientType=0 );
}
.linea_base {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.back_linea_horizontal {
	vertical-align: middle;
	background-image: url(../img/img_un/lin.gif);
	background-repeat: repeat-x;
	background-position: center center;
}

.cajapregunta {
	padding: 6px;
	font-size:0.8em;
	margin:6px;
	min-height:60px;
	min-width:90%;

}
.cajaarrastrable {
	padding: 6px;
	font-size:0.8em;
	margin:6px;
	min-height:60px;
	min-width:90%;
	text-align:center;
	border-left:8px solid #549f0b;

}
.glob_der {
	float: right;
    margin-top: 10px;
    margin-right: -30px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.glob_izq {
	float: left;
    margin-top: 10px;
    margin-left: -30px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.texto-borde {
  -webkit-text-stroke: 1px white;
}
.b01 {
	background-image: url(../img/img_un/un2_ba_a.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b02 {
	background-image: url(../img/img_un/un2_ba_b.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b03 {
	background-image: url(../img/img_un/un2_ba_c.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b04 {
	background-image: url(../img/img_un/un2_ba_d.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b05 {
	background-image: url(../img/img_un/un2_ba_e.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b06 {
	background-image: url(../img/img_un/un2_06.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	min-height: 400px;
}
.b07 {
	background-image: url(../img/img_un/back_embotelladora.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b08 {
	background-image: url(../img/img_un/back_rural.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b09 {
	background-image: url(../img/img_un/un2_ba_f.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b10 {
	background-image: url(../img/img_un/un2_ba_g.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b11 {
	background-image: url(../img/img_un/un2_ba_h.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b12 {
	background-image: url(../img/img_un/un2_ba_i.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b13 {
	background-image: url(../img/img_un/un2_ba_j.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b14 {
	background-image: url(../img/img_un/un2_ba_k.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b15 {
	background-image: url(../img/img_un/un2_ba_l.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b16 {
	background-image: url(../img/img_un/un2_ba_m.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}
.b17 {
	background-image: url(../img/img_un/un2_ba_n.png);
	background-repeat: no-repeat;
	background-position: right top;
	min-height:400px;
}